html,

body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("imagenes/fondo.svg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.menu-1 {
    width: 90%;
    text-align: right;
}

.menu-1 li,
.menu-1 a {
    display: inline;
    text-decoration: none;
    color: black;
    padding: 1%;
    transition-duration: 0.2s;
}

.menu-1 ul li a:hover {
    color: #f13e3e;
}
#header {
    border-top: 0.3rem solid crimson;  
    background-color: white;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1px;
}

#container {
    display: grid;
    place-items: center;
    /* align-content: center; */
}


form {
    background-color: #ffffff;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;

}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btnSave {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.btnEstadistica {
    background-color: #588E93;
    color: white;
    padding: 7px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.btnSave:hover {
    opacity: 0.8;
}

.btnEstadistica:hover {
    opacity: 0.8;
}


table {
    border-collapse: collapse;
    width: 80%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #7F8C8D;
    color: white;
  }

  .collapse {
    max-width: 800px;
  }
  
  .collapse .contenido {
    position: relative;
    margin: 10px 20px;
  }
  
  .collapse .contenido .label {
    position: relative;
    padding: 10px;
    background: #2694af;
    color: #fff;
    cursor: pointer;
  }
  
  .collapse .contenido .label::before {
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
  }
  
  .collapse .contenido .grafi {
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidde;
    transition: 0.5s;
    overflow-y: auto;
  }
  
  .collapse .contenido.active .grafi {
    height: 300px;
  }
  